

.btn {
    display: inline-block;
    transition: all .25s ease;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 500;
    font-family: $font-regular;
}

.btn-l {
    padding: 15px;
    width: 100%;
    max-width: 250px;
    font-size: 14px;
}

.btn-main {
    background-color: $c-sec;
    color: $c-light;
    border: 2px solid $c-sec;
    &:hover {
        background-color: darken($color: $c-sec, $amount: 15);
        border-color: darken($color: $c-sec, $amount: 15);
    }
}

.btn-sec {
    color: $c-sec;
    border: 2px solid $c-sec;
    background-color: transparent;
    &:hover {
        background-color: $c-sec;
        color: $c-light;
        border-color: $c-sec;
    }
}

.btn-nav {
    padding: .3em 2.3em;
}

.btn-form {
    width: 100%;
    margin-top: 28px;
    padding: 15px;
    font-size: 14px;
}