.car_img {
    background-color: darken($color: $c-light, $amount: 20);
}

.car_header {
    background-color: darken($color: $c-light, $amount: 10);
    align-items: stretch;
    position: relative;

    .car_header__main {
        padding: 16px;

        i {
            color: darken($color: $c-light, $amount: 30);
            transition: all .3s ease;

            &.fa-bookmark {
                font-size: 20px;
                cursor: pointer;

                &:hover {
                    color: $c-prim;
                }
            }
        }
    }

    .car_header__cta {
        &.btn {
            border-radius: 0;
            display: flex;
            padding: 16px;
        }
    }
}

.car_content {
    padding: 2em;

    .car_column & {
        padding: 1em;
        border-bottom: 2px solid darken($color: $c-light, $amount: 40);
    }
}

.car-item {
    color: $c-dark;
    display: grid;
    grid-template-columns: 2fr 10fr;

    i {
        font-size: 18px;
    }

    p {
        margin: 0;
    }

    &:not(:last-of-type) {
        margin-bottom: 1em;
    }
}

.car_extras {
    padding: 1em;
    color: $c-dark;    
}


