/*  BASE   ============================================================================= */

*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

:focus {
    outline: none;
}

html,
body {
    margin: 0;
    padding: 0;
    border: 0;
	outline: 0;
    -ms-overflow-style: scrollbar;
    font-family: $font-regular;
}

body {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
    font-size: 0.9em;
    line-height: 1.5em;
    -webkit-font-smoothing: antialiased;
    background-color: $c-light;
    color: $c-black;
}

main {
    margin-top: 75px;
}

/*  HEADINGS   ============================================================================= */

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h1 {
    font-size: 35px;
}

h2 {
    @include text-centered;
    font-size: 20px;
}

h4 {
    font-size: 16px;
}

.h-inline {
    display: inline-block;
}

/*  LINKS   ============================================================================= */

a {
    text-decoration: none;
    color: currentColor;
}

.a-block {
    display: inline-block;
}

.logo {
    font-size: 20px;
}

/*  IMAGES   ============================================================================= */

img {
    width: 100%;
    height: auto;
}

.img {
    position: relative;
}

.img-round {
    border-radius: 50%;
    background-color: $c-dark;
    overflow: hidden;
}

.circle_100 {
    width: 100px;
    height: 100px;
}

/*  GUTTERS   ============================================================================= */

.gutter_l_8 {
    margin-left: 8px;
    padding-left: 16px;
}

.gutter_r_8 {
    margin-right: 8px;
    padding-right: 16px;

}



/*  FLEX   ============================================================================= */

.flex,
.flex-grid,
.flex-center {
    display: flex;
    position: relative;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-grid,
.flex-col {
    & > * {
        flex-basis: 0;
        flex-grow: 1;
    }
}

.flex-col {
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.grow_3 {
    flex-grow: 2;
}

/*  GRID   ============================================================================= */

.grid {
    display: grid;
    grid-gap: 2em;
}

.grid_8_4 {
    grid-template-columns: 8fr 4fr;
}

/*  ASPECT   ============================================================================= */

.aspect {
    position: relative;
}

.aspect_content__1_1 {
    position: relative;
    height: 0;
    padding-top: 100%;
}

.aspect_content__inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


/*  TEXT   ============================================================================= */

.font__italic {
    font-style: italic;
}

.breadcrum {
    position: relative;
    display: inline-block;
    padding: 1em;
    cursor: pointer;

    .breadcrum__num {
        display: inline-flex;
        font-weight: 500;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        margin-right: 1em;
        background-color: $c-sec;
        border-radius: 50%;

        &.bread__disabled {
            background-color: transparent;
        }
    }

    &:first-of-type {
        padding-left: 0;
    }
}

.bread__disabled {
    color: lighten($color: $c-dark, $amount: 10);
    cursor: default;
}