/*  BASE   ============================================================================= */

*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

:focus {
    outline: none;
}

html,
body {
    margin: 0;
    padding: 0;
    border: 0;
	outline: 0;
    -ms-overflow-style: scrollbar;
    font-family: $font-regular;
}

body {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
    font-size: 0.9em;
    line-height: 1.5em;
    -webkit-font-smoothing: antialiased;
    background-color: $c-light;
    color: $c-black;
}

/*  HEADINGS   ============================================================================= */

h2 {
    @include text-centered;
}

.h-inline {
    display: inline-block;
}

/*  LINKS   ============================================================================= */

a {
    text-decoration: none;
    color: currentColor;
}

.a-block {
    display: inline-block;
}

/*  IMAGES   ============================================================================= */

img {
    width: 100%;
    height: auto;
}

.img {
    position: relative;
}

.img-round {
    border-radius: 50%;
    background-color: $c-dark;
}

.circle_100 {
    width: 100px;
    height: 100px;
}

/*  GUTTERS   ============================================================================= */

.gutter_l_8 {
    margin-left: 8px;
}

.gutter_r_8 {
    margin-right: 8px;
}



/*  FLEX   ============================================================================= */

.flex,
.flex-grid,
.flex-center {
    display: flex;
    position: relative;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-grid {
    & > * {
        flex-basis: 0;
        flex-grow: 1;
    }
}

.flex-center {
    justify-content: center;
    align-items: center;
}

/*  ASPECT   ============================================================================= */

.aspect {
    position: relative;
}

.aspect_content__1_1 {
    height: 0;
    padding-top: 100%;
}

.aspect_content__inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}