//  Variables   =============================================================================

$font-bold: 'Averta Bold';
$font-regular: 'Averta Regular';
$font-light: 'Averta Light';
$font-headline: 'Flood';

// Color vars ======================================

$c-prim: #3E9CBB;
$c-sec: #F59414;
$c-terc: #222222;

//  General mixins   =============================================================================

@mixin text-centered {
    text-align: center;
}