//  Variables   =============================================================================

$font-bold: 'Averta Bold';
$font-regular: 'Averta Regular';
$font-light: 'Averta Light';
$font-headline: 'Flood';

// Color vars ======================================


$grey: #72747a;
$orange: #da602d;
$dirty-white: #e9edef;
$dark-blue: #1a272e;
$light-blue: #6d7d8b;

$c-prim: #1A272E;
$c-sec: #DA602D;
$c-terc: #6D7D8B;

$c-light: #E9EDEF;
$c-dark: #72747A;
$c-black: #131313;

//  General mixins   =============================================================================

@mixin text-centered {
    text-align: center;
}