//  Variables   =============================================================================

$font-bold: 'Averta Bold';
$font-regular: 'Averta Regular';
$font-light: 'Averta Light';
$font-headline: 'Flood';

// Color vars ======================================

$grey: #72747a;
$orange: #da602d;
$dirty-white: #e9edef;
$dark-blue: #1a272e;
$light-blue: #6d7d8b;

//  General mixins   =============================================================================

@mixin text-centered {
    text-align: center;
}