.section {
    position: relative;
}

.header {
    height: 75px;
    background-color: $c-prim;
    color: $c-light;
    font-size: 14px;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.hero {
    background: url('../media/hero_car_rental.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: $c-light;
}

.overlap_top--80 {
    margin-top: -80px;
}

.footer {
    background-color: $c-prim;
}