.section {
    position: relative;
}

.section-dark,
.section-dark .formBox {
    background-color: lighten($color: $c-prim, $amount: 8);
    color: $c-light;

    .formBox label {
        color: $c-light;
    }
}

.header {
    height: 75px;
    background-color: $c-prim;
    color: $c-light;
    font-size: 14px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.hero {
    background: url('../media/hero_car_rental.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: $c-light;
}

.overlap_top--80 {
    margin-top: -80px;
}

.bar {
    padding: 1em;
    background-color: darken($color: $c-light, $amount: 5);
    border-bottom: 2px solid darken($color: $c-light, $amount: 40);
    color: darken($c-dark, 10);

    span {
        font-weight: 500;
        color: darken($color: $c-dark, $amount: 40);
    }
}

.footer {
    background-color: $c-prim;
}