.section {
    position: relative;
}

.header {
    height: 75px;
    background-color: $c-prim;
    color: $c-light;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.hero {
    background-color: $c-dark;
    color: $c-light;
}

.form {
    height: 100px;
    margin-top: -25px;
    background-color: $c-light;
    border-radius: 3px;
    @include box-shadow;
}

.footer {
    background-color: $c-prim;
}